body {
	background-color: #F7E7FF;
}

h1 {
	font-family: Georgia;
	color: #6E0D9D;
}

p {
	font-family: sans-serif;
	color: #3B0357;
}

h2 {
	color: #8D44B2;
}

dt {
	font-weight: bold;
}

dd {
	font-Style: italic;
}

.special {
	color: #B80C96;
	font-Style: italic;
}

.column {
	display: inline-block;
	padding: 10px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p::first-letter {
	font-size: 150%;
}