body {
	width: 500px;
	margin: auto;
}

.back {
	vertical-align: center;
}

.back img {
	float: left;
	width: 20px;
	height: 20px;
}

div {
	margin: 20px;
	position: relative;
}

fieldset {
	background-color: #CBC3E3;
	border-radius: 20px;
	box-shadow: 3px 3px gray;
	border: 0;
}

fieldset legend {
	background-color: white;
	border: solid 1px black;
	box-shadow: 3px 3px gray;
}

input[type=submit] {
	background-color: #FE9177;
	margin-left: 0px;
}

label {
	font-weight: bold;
	cursor:default;
}

a {
	text-decoration: none;
	color: red;
}

label {
	position: absolute;
	width: 150px;
	left: 0;
}

input {
	margin-left: 140px;
}

select {
	margin-left: 140px;
}

.right {
	margin-left: 0;
}
